<div id="<%= dom_id listing %>">
  <p>
    <strong>Place type:</strong>
    <%= listing.title %>
  </p>

  <p>
    <strong>Pet types:</strong>
    <%= listing.pet_types %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= listing.address %>
  </p>

  <p>
    <strong>Max occupancy:</strong>
    <%= listing.max_occupancy %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= listing.price_per_night %>
  </p>

  <p>
    <strong>Max stay:</strong>
    <%= listing.max_stay %>
  </p>

  <p>
    <strong>User:</strong>
    <%= listing.user_id %>
  </p>

</div>
