<h1>Bookings</h1>

<% @bookings.each do |booking| %>
  <div>
  <p><%= link_to booking.id, booking_path(booking.id) %></p>
  <p> Check-in: <%= booking.start_date %> </p>
  <p> Check-out: <%= booking.end_date %> </p>
  <p> Petsitter: <%= booking.listing_id %> </p>
  <p> Total: <%= booking.total_price %>$ </p>
  </div>
<% end %>
