<h1> Booking <%= @booking.start_date %> </h1>

<p> Check-in: <%= @booking.start_date %> </p>
<p> Check-out: <%= @booking.end_date %> </p>
<p> Petsitter: <%= @booking.listing_id %> </p>
<p> Number of pets: <%= @booking.num_of_pets %> </p>
<p> Your pets' type: <%= @booking.pet_type %> </p>
<p> Total: <%= @booking.total_price %>$ </p>
